---
layout: default
---

  <div class="fixed top-0 right-0 px3 py2 nav-item">
    <span class="caps" style="padding-right:1.5vw;"><a href="/#about">About</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#projects">Initiatives</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#advisors">Advisors</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#events">Events</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#contact">Contact</a></span>
  </div>

{{content}}